/* General styles */
html, body {
  height: 100%;
  margin: 0;
  background-color: #292d3e;
}

/* Search box styles */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e2029;
  border-radius: 8px;
  padding: 10px;
}

input[type="text"] {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #9b59b6;
  color: white;
  font-size: 16px;
  padding: 10px;
  margin-right: 10px;
  width: 50%;
}

input[type="text"]:focus {
  outline: none;
}

button[type="submit"] {
  background-color: #9b59b6;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #8e44ad;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button {
  margin: 10px;
  background-color: #9b59b6;
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  text-shadow: 2px 2px 4px #4c265e;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.button:hover {
  background-color: #8e44ad;
}

/* Nicebox styles */
.nicebox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  background: #9b59b6;
  color: #fff;
  font: normal 16px/1 Arial Black, Gadget, sans-serif;
  text-align: center;
  border-radius: 11px;
  text-shadow: 2px 2px 4px #4c265e;
  cursor: default;
  overflow: hidden;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  position: sticky;
  width: 290px;
  right: 0;
  left: 0;
  }

  /* Image */
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  padding: 5px;
  background: #9b59b6;
  color: #fff;
  font: normal 16px/1 Arial Black, sans-serif;
  text-align: center;
  border-radius: 11px;
  text-shadow: 2px 2px 4px #4c265e;
  cursor: default;
  overflow: hidden;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  position: sticky;
  width: 320px;
  right: 0;
  left: 0;
  }

/* Title styles */
.title {
  background-color: #8e44ad;
  color: #fff;
  font-style: italic;
  font-size: 56px;
  font-weight: bold;
  padding: 16px;
  text-align: center;
  text-shadow: 2px 2px 4px #4c265e;
}

/* Phrases Slider */
.text-box {
  background-color: #9b59b6;
  color: #fff;
  font: normal 16px/1 Arial Black, Gadget, sans-serif;
  text-align: center;
  border-radius: 11px;
  text-shadow: 2px 2px 4px #4c265e;
  cursor: default;
  overflow: hidden;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  position: sticky;
  width: 290px;
  height: 100px;
  right: 0;
  left: 0;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  display: none;
}

.text-box.active {
  display: block;
}
