.body {
  background-color: #000000;
  opacity: 1;
  background: linear-gradient(135deg, #30305155 25%, transparent 25%) -32px 0/ 64px 64px, linear-gradient(225deg, #303051 25%, transparent 25%) -32px 0/ 64px 64px, linear-gradient(315deg, #30305155 25%, transparent 25%) 0px 0/ 64px 64px, linear-gradient(45deg, #303051 25%, #000000 25%) 0px 0/ 64px 64px;
}

.title {
  background: rgb(255, 214, 214);
  opacity: 1;
  position:sticky;
  margin-left: -100px;
  right: 40%;
  left: 40%;
  width: 300px;
  height: 50px;
  border: 5px solid #000;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

.images {
  position: sticky;
  right: 40%;
  left: 40%;
  width: 300px;
  margin: 10px auto;
  margin-left: -100px;
  border: 5px solid #993399;
  padding: 20;
  border-radius: 5px;
}

.box {
  background: rgba(19, 17, 17, 0.647);
  border: 5px solid rgba(255, 228, 228, 0.104);
  border-radius: 5px;
  position: sticky;
  right: 40%;
  left: 40%;
  width: 300px;
  margin: 10px auto;
  margin-left: -100px;
}
.boxlinks {
  background: #b5b5b5;
  border: 5px solid rgb(255, 237, 237);
  border-radius: 5px;
  position: sticky;
  right: 40%;
  left: 40%;
  width: 300px;
  margin: 10px auto;
  margin-left: -100px;
}
