.body {
  background-color: #000000;
  opacity: 1;
  background: linear-gradient(135deg, #30305155 25%, transparent 25%) -32px 0/ 64px 64px, linear-gradient(225deg, #303051 25%, transparent 25%) -32px 0/ 64px 64px, linear-gradient(315deg, #30305155 25%, transparent 25%) 0px 0/ 64px 64px, linear-gradient(45deg, #303051 25%, #000000 25%) 0px 0/ 64px 64px;
}

.title {
  background: rgb(255, 255, 255);
  opacity: 1;
  position:sticky;
  margin-left: -100px;
  right: 40%;
  left: 40%;
  width: 300px;
  height: 50px;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

.images {
  position: sticky;
  right: 40%;
  left: 40%;
  width: 300px;
  margin: 10px auto;
  margin-left: -100px;
  border: 5px solid #ff7cff;
  padding: 20;
  border-radius: 5px;
}

.box {
  background: rgba(243, 243, 243, 0.913);
  border: 5px solid rgba(0, 0, 0, 0.104);
  border-radius: 5px;
  position: sticky;
  right: 40%;
  left: 40%;
  width: 300px;
  margin: 10px auto;
  margin-left: -100px;
}
.boxlinks {
  background: #b5b5b5;
  border: 5px solid rgb(45, 73, 225, 0.77);
  border-radius: 12px;
  position: sticky;
  right: 40%;
  left: 40%;
  width: 290px;
  margin: 10px auto;
  margin-left: 591px;
}

.nicebox {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 161px;
  cursor: pointer;
  padding: 20px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  font: normal 16px/1 Arial Black, Gadget, sans-serif;
  color: rgba(255,255,255,1);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: -webkit-linear-gradient(-90deg, rgba(7,10,2,1) 0, rgba(77,61,96,1) 100%);
  background: -moz-linear-gradient(180deg, rgba(7,10,2,1) 0, rgba(77,61,96,1) 100%);
  background: linear-gradient(180deg, rgba(7,10,2,1) 0, rgba(77,61,96,1) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 5px 4px 8px 0 rgba(82,38,204,0.7) ;
  box-shadow: 5px 4px 8px 0 rgba(82,38,204,0.7) ;
  text-shadow: 1px 1px 1px rgba(10,34,255,0.58) ;
  position: relative;
  right: auto;
  left: 50%;
  width: 270px;
  margin: 10px auto;
  margin-left: -197px;
}
